@model MachineWeb.Models.ProductResponseDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="css/product-details.css">




<!--=====================================
                    BANNER PART START
        =======================================-->
<section class="single-banner inner-section" style="background: url(/images/img15.png) no-repeat center;">
    <div class="container">
        @* <h2>product simple</h2> *@
    </div>
</section>
<!--=====================================
            BANNER PART END
=======================================-->
<!--=====================================
        PRODUCT DETAILS PART START
=======================================-->
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @if (Model != null)
                {
                    @if (Model.productImageDtos != null)
                    {
                        <div class="details-gallery">
                            <ul class="details-preview">
                                @foreach (var images in Model.productImageDtos)
                                {
                                    <li><img src="@images.Image" alt="product"></li>
                                }
                            </ul>
                            <ul class="details-thumb">
                                @foreach (var images in Model.productImageDtos)
                                {
                                    <li><img src="@images.Image" alt="product"></li>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    <h3 class="details-name"><a href="#">@Model.ProductName</a></h3>
                    <p class="details-desc">@Model.ShortDescription</p>
                    <div class="details-add-group">
                        <a class="product-add" title="Send Enquiry" href="/Home/Contact">
                                    <span>Send Enquiry</span>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
        PRODUCT DETAILS PART END
=======================================-->
<!--=====================================
          PRODUCT TAB PART START
=======================================-->
<section class="inner-section">
    <div class="container">
        @Html.Raw(Model.Description)
    </div>
</section>
<!--=====================================
            PRODUCT TAB PART END
=======================================-->
